@import "./base/variables";
@import "./componentes/global";
@import "./base/extend";
@import "./base/mixin";
@import "./base/colores";
@import "./componentes/mediaquery";


*{
    margin: 0;
    padding: 0;
}

.carouselIndex {
    margin-top: 1em;
}

.cuerpoIndex {
    background-color: map-get($colores, primario);
}

.seccionIndex {
    p {
        font-size: 2em!important;
        font-family: $fuente;
        font-style: italic;
        font-weight: 200;
        text-align: center;
        align-items: center;
    }
}

.articuloNosotros {
    font-family: $fuente;
    p{
        font-size: 1.5em;
    }
}

.mainServicios {
    font-family: $fuente;
}

.seccionObras {
    font-family: $fuente;

    h2 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 2em;
    }
}

.galeriaFotos {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 1rem;
}

.cuerpoContacto {
    h2 {
        font-family: $fuente;
    }

}

.asideContacto {
    font-family: $fuente;

    ul {
        display: flex;
        flex-direction: column;

        li {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: left;
            margin-bottom: 0.3em;
            font-size: 1.5em;
            a{
                text-decoration: none;
                color: black;
            }
            img {
                margin-right: 1em;
            }
        }
    }
}

.formulario{
    background-color: #F9F9F9;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-radius: 2%;
    font-family: $fuente;
    box-shadow: -1px 15px 30px -12px black;
    margin-top: 2em;
    h2{
       
    }
    #nombre{
        width: 100%;
        padding: 0.5em;
        margin-bottom: 0.3em;
        
    }
    #apellido{
        width: 100%;
        padding: 0.5em;
        margin-bottom: 0.3em;
    }
    #telefono{
        width: 100%;
        padding: 0.5em;
        margin-bottom: 0.3em;
    }
    #mensaje{
        width: 100%;
        padding: 0.5em;
        margin-bottom: 1em;
    }
    #boton{
        padding: 0.3em;
        width: 30%;
    }
}
