@import "./base/variables";
@import "./componentes/global";
@import "./base/extend";
@import "./base/mixin";
@import "./base/colores";


*{
    margin: 0;
    padding: 0;
}

.carouselIndex {
    margin-top: 1em;
}

.cuerpoIndex {
    background-color: map-get($colores, primario);
}

.seccionIndex {
    p {
        font-family: $fuente;
        font-style: italic;
        font-weight: 200;
        text-align: center;
        align-items: center;
    }
}

.articuloNosotros {
    font-family: $fuente;
}

.mainServicios {
    font-family: $fuente;
}

.seccionObras {
    font-family: $fuente;

    h2 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 2em;
    }
}

.galeriaFotos {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 1rem;
}

.cuerpoContacto {
    h2 {
        font-family: $fuente;
    }

}

.asideContacto {
    font-family: $fuente;

    ul {
        display: flex;
        flex-direction: column;

        li {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: left;
            margin-bottom: 0.3em;
            font-size: 1.5em;

            img {
                margin-right: 1em;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .carouselIndex {
        display: none;
    }

    .seccionIndex {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        p {
            padding: 1em 0em 1em 0em !important;
            width: 80%;
        }
    }

    .imgIndex {
        width: 80% !important;
        margin-bottom: 0em !important;
    }

    .carouselMovil {
        margin-top: 1em;
        display: block !important;
    }

    .footerIndex {
        flex-direction: column;
    }

    .footerNav {
        margin-bottom: 0%;

        nav {
            ul {
                padding-left: 0%;

                li {
                    margin-left: 0%;
                    text-align: center;
                }
            }
        }
    }

    .footerRedes {
        margin-top: -10%;
        flex-direction: column;

        div {
            margin-top: -5%;
            width: 50%;
        }
    }

    .seccionNosotros {
        margin-top: 0em !important;
    }

    .imgNosotros {
        width: 100% !important;
        margin: 1em !important;
    }
}